<footer class="footer">
  <div class="uk-container">
    <div class="footer__container uk-flex uk-flex-column-reverse@s uk-flex-between uk-flex-middle">
      <span>&copy; 2019, ФБУН ЦНИИ Эпидемиологии Роспотребнадзора</span>
      <ul class="footer__socials uk-flex">
        <li>
          <a href="#">
            <img src="img/pic/logo/facebook-logo.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/pic/logo/vk-logo.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/pic/logo/ok-logo.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/pic/logo/instagram-logo.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/pic/logo/youtube-logo.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="js/scripts.min.js"></script>
<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>