<footer class="footer">
	<div class="uk-container">
		<div class="uk-flex uk-flex-between uk-flex-middle">
			<span>&copy; 2019, ФБУН ЦНИИ Эпидемиологии Роспотребнадзора</span>
			<ul class="footer__socials uk-flex">
				<li>
					<a href="#">
						<img src="img/pic/logo/facebook-logo.svg" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/vk-logo.svg" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/ok-logo.svg" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/instagram-logo.svg" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/pic/logo/youtube-logo.svg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<script src="js/scripts.min.js"></script>