.diagnostics {
  border-bottom: 1px solid #dddddd;

  @media (max-width: 967px) {
    padding: 58px 0 55px;
  }

  @media (min-width: 968px) {
    padding: 95px 0;
  }

  &__title {
    display: inline;
    border-bottom: 1px solid transparent;
    color: #003594;
    transition: border .3s;

    @include screen(xl) {
      font: 600 20px/28px Manrope;
    }

    @include screen(l) {
      font: 600 24px/32px Manrope;
    }

    &:hover {
      border-color: #003594;
    }
  }

  &__subtitle {
    font: normal 14px/28px Manrope;
    color: #777777;
  }

  li {
    &:not(:last-of-type) {
      @include screen(xl) {
        margin-bottom: 15px;
      }

      @include screen(l) {
        margin-bottom: 30px;
      }
    }
  }

  &__text-small {
    font: normal 14px/28px Manrope;
  }

  &__text-bold {
    font: 700 18px/28px Manrope;
  }

  .btn {
    padding: 11px 15px 13px;
    max-width: 264px;
    color: #ffffff;
    background-color: #00a9e0;

    &:hover {
      background-color: #18bbf0;
    }

    @media (max-width: 967px) {
      margin-top: 27px;
    }

    @media (min-width: 968px) {
      margin-top: 35px;
    }
  }

  &__wrapper {
    @media (min-width: 968px) and (max-width: 1279px) {
      flex-direction: row !important;

      .diagnostics__left {
        width: 440px !important;
        margin-right: 44px !important;
        padding: 0 !important;
      }

      .diagnostics__right {
        width: 440px !important;
        margin-left: 44px !important;
        padding: 0 !important;
      }
    }

    @media (max-width: 967px) {
      .diagnostics__left {
        margin-bottom: 25px !important;
        width: 100% !important;
      }

      .diagnostics__right {
        width: 100% !important;
      }
    }

    @media (min-width: 1280px) {
      .diagnostics__left {
        width: 528px !important;
        margin-right: 88px !important;
        padding: 0 !important;
      }

      .diagnostics__right {
        width: 528px !important;
        margin-left: 88px !important;
        padding: 0 !important;
      }
    }
  }
}