.geo {
    @media (max-width: 967px) {
        padding: 59px 0 55px;
    }

    @media (min-width: 968px) {
        padding: 95px 0;
    }

    .subtitle {
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        @media (min-width: 768px) {
            margin-bottom: 40px;
        }
    }

    iframe {
        width: 100%;

        @include screen(xl) {
            height: 615px;
        }

        @media (min-width: 768px) {
            height: 645px;
        }
    }
}