.geo {
    @include screen(xl) {
        padding: 40px 0;
    }

    @include screen(l) {
        padding: 95px 0;
    }

    .subtitle {
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        @media (min-width: 768px) {
            margin-bottom: 40px;
        }
    }

    iframe {
        width: 100%;

        @include screen(xl) {
            height: 615px;
		}
		
		@media (min-width: 768px) {
			height: 620px;
		}
    }
}