.prevention {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  @media (max-width: 967px) {
    padding: 58px 0 55px;
  }

  @media (min-width: 968px) {
    padding: 95px 0;
  }

  h3 {
    font: 700 22px/normal Manrope;
  }

  &__list {
    li {
      position: relative;
      padding-left: 32px;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    &--plus {
      li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 16px;
        height: 16px;
        background: url("../img/pic/ico/check_green.svg") no-repeat;
      }
    }

    &--minus {
      li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 16px;
        height: 16px;
        background: url("../img/pic/ico/check_red.svg") no-repeat;
      }
    }
  }

  &__wrapper {
    @media (min-width: 968px) and (max-width: 1279px) {
      flex-direction: row !important;

      &>div {
        width: 50%;
      }

      img {
        margin: 0 auto 0 70px;
        width: 50%;
        max-width: 440px;
        max-height: 440px;
      }

      .prevention__image-visible {
        display: block;
        margin-right: 70px;
        margin-left: 0;
      }
    }

    @media (max-width: 967px) {
      .prevention__image-visible {
        display: none;
      }
    }
  }

  .image {
    @media (max-width: 967px) {
      margin-top: 46px;
      margin-bottom: 10px;
    }

    @media (min-width: 1280px) {
      width: 100%;
      width: 440px;
      height: 440px;
    }
  }

  &__texts {
    flex: 1;
  }
}