.test {
  @include screen(xl) {
    padding: 60px 0 55px;
  }

  @include screen(l) {
    padding: 95px 0 95px;
  }

  /* swiper */

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }

  &__container {
    position: relative;
    overflow: hidden;
    padding-top: 30px;

    .swiper-slide {
      position: relative;
    }

    .swiper-next {
      padding: 0;
      border-bottom: 1px solid transparent;
      font: 400 18px/28px Manrope;
      color: #00a9e0;
      transition: border .3s;

      &:hover {
        border-color: #00a9e0;
      }
    }

    .swiper-pagination {
      display: flex;
      top: 0;
      left: 0;
      text-align: left;
      width: 100%;
      height: 2px;

      &-bullet {
        opacity: 1;
        width: calc(100% / 5);
        height: 2px;
        border-radius: 0;
        background: #00a9e0;

        &:not(:last-of-type) {
          margin-right: 2px;
        }

        &-active~* {
          background-color: #cce0e6;
        }
      }
    }
  }

  .btn {
    display: block;
    padding: 11px 15px 11px;
    width: 176px;
    color: #00a9e0;
    border: 1px solid #00a9e0;
    background-color: #ffffff;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: #18bbf0;
    }

    @include screen(xl) {
      margin: auto;
    }
  }

  input:checked+label {
    color: #ffffff;
    background-color: #00a9e0;
  }

  &__text {
    margin-bottom: 30px;
    font: normal 16px/24px Manrope;

    @media (max-width: 967px) {
      margin-top: 38px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include screen(xl) {
      font: 600 20px/28px Manrope;
    }

    @include screen(l) {
      font: 600 24px/32px Manrope;
    }
  }

  .test__question {
    span {
      color: #f8485e;
    }
  }

  &__result {
    @include screen(xl) {
      margin-top: 30px;
    }

    &-footer {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #cce0e6;

      &>span {
        font: normal 16px/24px Manrope;
        color: #777777;
        margin-right: 20px;
      }

      li {
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    &-link {
      font-weight: 600;
      color: #00a9e0;
      border-bottom: 1px solid transparent;
      transition: border .3s;

      &:hover {
        border-color: #00a9e0;
      }
    }

    &-number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 115px;
      height: 115px;
      color: #ffffff;
      border-radius: 0 0 28px 0;

      @include screen(xl) {
        margin: 0 auto 35px;
      }

      span {
        display: block;

        &:first-of-type {
          font: 700 60px/60px Manrope;
        }
      }
    }

    &--1 {
      .test__result-number {
        background-color: #00b388;
      }
    }

    &--2 {
      .test__result-number {
        background-color: #00a9e0;
      }
    }

    &--3 {
      .test__result-number {
        background-color: #f8485e;
      }
    }
  }

  .answered .test__question,
  .test__answer--false,
  .test__answer--true {
    display: none;
  }

  .answer-false .test__answer--false {
    display: block;

    span {
      display: inline-block;
      color: #f8485e;
    }
  }

  .answer-true .test__answer--true {
    display: block;

    span {
      display: inline-block;
      color: #00b388;
    }
  }

  &__wrapper {

    @media (min-width: 968px) and (max-width: 1279px) {
      flex-direction: row !important;

      .test__left {
        width: 440px !important;
        margin-right: 44px !important;
        padding: 0 !important;
      }

      .test__right {
        width: 440px !important;
        margin-left: 44px !important;
        padding: 0 !important;
      }

      .test__result-footer {
        flex-direction: row;
      }
    }

    @media (max-width: 967px) {
      .test__left {
        width: 100% !important;
      }

      .test__right {
        width: 100% !important;
      }

      #res-1,
      #res-2,
      #res-3 {
        width: 100%;
      }

      .test__result-footer {
        flex-direction: column;
      }

      .test__result-footer>span {
        margin-bottom: 20px;
      }
    }

    @media (min-width: 1280px) {
      .test__left {
        width: 528px !important;
        margin-right: 88px !important;
        padding: 0 !important;
      }

      .test__right {
        width: 528px !important;
        margin-left: 88px !important;
        padding: 0 !important;
      }
    }
  }

  .ya-share2__link {
    border-radius: 50%;
    overflow: hidden;
  }
}