.treatment {
  border-bottom: 1px solid #dddddd;

  @include screen(xl) {
    padding: 40px 0;
  }

  @include screen(l) {
    padding: 95px 0;
  }

  &__wrapper {
    @media (min-width: 968px) and (max-width: 1279px) {
      flex-direction: row !important;

      &>div {
        width: 50%;
      }

      img {
        margin: 0 auto 0 70px;
        width: 50%;
        max-width: 440px;
        max-height: 440px;
      }
    }
  }

  img {
    @media (min-width: 1280px) {
      margin-left: 100px !important;
      width: 440px;
      height: 440px;
    }
  }
}